{% extends 'base.html' %}
{% load i18n %}

{% block content %}

{% if post.user.id == request.user.id %}
    <a href="{% url 'contents:update' post.id %}">{% trans "Update" %}</a>
{% endif %}

<h2>{{ post.title }}</h2><hr/>
<p>{{ post.user.username }}</p>
<p>{{ post.text }}</p><hr/>

    {% for comment in comments %}
        <div class="card bg-dark text-white">
            <p class="card-header">{{ comment.user }}</p>
            <p class="card-body">{{ comment.text }}</p>
        </div><br/>
    {% empty %}
        <p>No comments yet!</p>
    {% endfor %}

{% endblock %}
